[flake8]
max-line-length = 88
select =
    # flake8 default
    D, E, F, W,
ignore =
    # flake8 default
    E121,E123,E126,E226,E24,E704,W503,W504,
    # pydocstyle
    D100, D101, D102, D103, D104, D105, D106,
    D200, D202, D204, D205,
    D301,
    D400, D401, D403, D404
    # ignored by pydocstyle numpy docstring convention
    D107, D203, D212, D213, D402, D413, D415, D416, D417,

exclude =
    .git
    build
    # External files.
    .tox
    .eggs

per-file-ignores =
    setup.py: E402
force-check = True
